<%- include("partials/head.ejs") %>
<%- include("partials/nav.ejs") %>

<main>
    <h1><%= title %></h1>
    <!-- Formulario que va a enviar nuestros datos al endpoint /api/products -->
    <form id="altaProducts-container">
        <label for="nameProd">Nombre</label>
        <input type="text" name="name" id="nameProd" required>
        <label for="imageProd">Imagen</label>
        <input type="text" name="image" id="imageProd" required>
        <label for="priceProd">Precio</label>
        <input type="number" name="price" id="priceProd" required>
        <label for="categoryProd">Categoria</label>
        <select name="category" id="categoryProd" required>
        <option value="case">Cajas</option>
        <option value="keyboard">Teclado</option>
        <option value="motherboard">PlacaMadre</option>
        <option value="ram">Ram</option>
        <option value="graficas">Graficas</option>
        <option value="monitors">Monitores</option>
        <option value="processors">Procesadores</option>
        </select>
        <input type="submit" value="Crear producto">
    </form>
    <hr>
    <section id="contenedor-productos"></section>
</main>

<script src="/js/crear.js"></script>
<%- include("partials/footer.ejs") %>