   <header>
    <nav class="navbar" aria-label="Navegación principal">
        <div class="navbar__inner">
        <ul class="navbar__list">
            <a class="navbar__link navbar__link--logo" href="index.html">
            </a>
            <li><a class="navbar__link is-active" href="index.html">Inicio</a></li>
            <li><a class="navbar__link" href="consultar.html">Consultar id</a></li>
            <li><a class="navbar__link" href="crear.html">Crear</a></li>
            <li><a class="navbar__link" href="modificar.html">Modificar</a></li>
            <li><a class="navbar__link" href="eliminar.html">Eliminar</a></li>
        </ul>
        </div>
    </nav>
    </header>
    <h1> <%= about %></h1>
    <hr>